.elementor-318 .elementor-element.elementor-element-7d5d4378 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 164px 0px 0px 0px;
}

.elementor-318 .elementor-element.elementor-element-7d5d4378>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-318 .elementor-element.elementor-element-428881c>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
	margin-bottom: 0px;
}

.elementor-318 .elementor-element.elementor-element-428881c>.elementor-element-populated {
	padding: 0px 0px 0px 0px;
}

.elementor-318 .elementor-element.elementor-element-5195dcc5>.elementor-container {
	max-width: 920px;
}

.elementor-318 .elementor-element.elementor-element-418ad8fd>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
	margin-bottom: 0px;
}

.elementor-318 .elementor-element.elementor-element-ffadc65>.elementor-widget-container {
	margin: 0px 0px 40px 0px;
}

.elementor-318 .elementor-element.elementor-element-1e19315f {
	text-align: center;
	color: #FFFFFF;
	font-family: "conforta", Sans-serif;
	font-size: 24px;
	font-weight: 400;
	line-height: 34px;
}

.elementor-318 .elementor-element.elementor-element-1e19315f>.elementor-widget-container {
	margin: 0px 0px 41px 0px;
}

.elementor-318 .elementor-element.elementor-element-6e79747b .img_item:after {
	background-color: #353535;
}

.elementor-318 .elementor-element.elementor-element-6e79747b>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
}

.elementor-318 .elementor-element.elementor-element-20b5f013>.elementor-container {
	max-width: 1258px;
}

.elementor-318 .elementor-element.elementor-element-20b5f013 {
	padding: 0px 0px 0px 0px;
}

.elementor-bc-flex-widget .elementor-318 .elementor-element.elementor-element-4f19947d.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-318 .elementor-element.elementor-element-4f19947d.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-318 .elementor-element.elementor-element-4f19947d.elementor-column>.elementor-widget-wrap {
	justify-content: flex-start;
}

.elementor-318 .elementor-element.elementor-element-4f19947d>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
	margin-bottom: 0px;
}

.elementor-318 .elementor-element.elementor-element-4f19947d>.elementor-element-populated {
	box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.25);
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 0px 0px 0px 0px;
}

.elementor-318 .elementor-element.elementor-element-4f19947d>.elementor-element-populated>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-318 .elementor-element.elementor-element-528d6b32>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
	margin-bottom: 0px;
}

.elementor-318 .elementor-element.elementor-element-528d6b32>.elementor-element-populated {
	padding: 110px 050px 110px 50px;
}

.elementor-318 .elementor-element.elementor-element-4479f6d2 .fn__maintitle {
	color: #fff;
	font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.elementor-318 .elementor-element.elementor-element-4479f6d2>.elementor-widget-container {
	margin: 0px 0px 15px 0px;
}

.elementor-318 .elementor-element.elementor-element-292ae58>.elementor-widget-container {
	margin: 0px 0px 25px 0px;
}

.elementor-318 .elementor-element.elementor-element-5a61c16a {
	color: #FFFFFF;
	font-family: "conforta", Sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.44em;
}

.elementor-318 .elementor-element.elementor-element-5a61c16a>.elementor-widget-container {
	margin: 0px 0px 27px 0px;
}

.elementor-318 .elementor-element.elementor-element-556d2c98 {
	color: #FFFFFF;
	font-family: "conforta", Sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.44em;
}

.elementor-318 .elementor-element.elementor-element-556d2c98>.elementor-widget-container {
	margin: 0px 0px 27px 0px;
}

.elementor-318 .elementor-element.elementor-element-3000695b>.elementor-container {
	max-width: 1800px;
}

.elementor-318 .elementor-element.elementor-element-3000695b>.elementor-background-overlay {
	background-color: #000000;
	opacity: 0.15;
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-318 .elementor-element.elementor-element-3000695b {
	border-style: solid;
	border-width: 1px 0px 1px 0px;
	border-color: #FFFFFF14;
	box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.25);
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 132px 100px 87px 100px;
}

.elementor-318 .elementor-element.elementor-element-f66b564 .fn__maintitle {
	color: #fff;
	font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.elementor-318 .elementor-element.elementor-element-f66b564>.elementor-widget-container {
	margin: 0px 0px 080px 0px;
}

.elementor-318 .elementor-element.elementor-element-8075ce9 .fn_cs_gallery_masonry ul li {
	padding-left: 20px;
	margin-bottom: 20px;
}

.elementor-318 .elementor-element.elementor-element-8075ce9 .fn_cs_gallery_masonry ul {
	margin-left: -20px;
}

.elementor-318 .elementor-element.elementor-element-8075ce9 .fn_cs_gallery_collage ul li .item {
	border-radius: 0px;
	overflow: hidden;
}

.elementor-318 .elementor-element.elementor-element-8075ce9 .fn_cs_gallery_collage_a .item {
	border-radius: 0px;
	overflow: hidden;
}

.elementor-318 .elementor-element.elementor-element-8075ce9 .fn_cs_gallery_collage_pro ul li .item {
	border-radius: 0px;
	overflow: hidden;
}

.elementor-318 .elementor-element.elementor-element-8075ce9 .justified-gallery>a {
	border-radius: 0px;
}

.elementor-318 .elementor-element.elementor-element-8075ce9 .fn_cs_gallery_masonry ul li .item {
	border-radius: 0px;
}

.elementor-318 .elementor-element.elementor-element-8075ce9 .fn_cs_gallery_slider .item {
	border-radius: 0px;
}

.elementor-318 .elementor-element.elementor-element-8075ce9 .fn_cs_gallery_grid ul li .item_in {
	border-radius: 0px;
}

.elementor-318 .elementor-element.elementor-element-8075ce9 .fn_cs_gallery_mosaic_four .item_in {
	border-radius: 0px;
}

.elementor-318 .elementor-element.elementor-element-8075ce9 .fn_cs_gallery_mosaic .item {
	border-radius: 0px;
}

.elementor-318 .elementor-element.elementor-element-8075ce9 .fn_cs_gallery_grid ul li .item:after {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.elementor-318 .elementor-element.elementor-element-1e76296>.elementor-container {
	max-width: 1800px;
}

.elementor-318 .elementor-element.elementor-element-1e76296>.elementor-background-overlay {
	background-color: #000000;
	opacity: 0.15;
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-318 .elementor-element.elementor-element-1e76296 {
	border-style: solid;
	border-width: 1px 0px 1px 0px;
	border-color: #FFFFFF14;
	box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.25);
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 132px 100px 87px 100px;
}

.elementor-318 .elementor-element.elementor-element-3d509a3 .fn__maintitle {
	color: #fff;
	font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.elementor-318 .elementor-element.elementor-element-3d509a3>.elementor-widget-container {
	margin: 0px 0px 080px 0px;
}

.elementor-318 .elementor-element.elementor-element-fdc9cb4>.elementor-container {
	max-width: 1800px;
}

.elementor-318 .elementor-element.elementor-element-fdc9cb4>.elementor-background-overlay {
	background-color: #000000;
	opacity: 0.15;
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-318 .elementor-element.elementor-element-fdc9cb4 {
	border-style: solid;
	border-width: 1px 0px 1px 0px;
	border-color: #FFFFFF14;
	box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.25);
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 132px 100px 87px 100px;
}

.elementor-318 .elementor-element.elementor-element-908ae97 .fn__maintitle {
	color: #fff;
	font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.elementor-318 .elementor-element.elementor-element-908ae97>.elementor-widget-container {
	margin: 0px 0px 080px 0px;
}

.elementor-318 .elementor-element.elementor-element-934a1d5 {
	text-align: center;
}

.elementor-318 .elementor-element.elementor-element-934a1d5 .elementor-heading-title {
	color: #FFFFFF;
	font-family: "conforta", Sans-serif;
	font-size: 40px;
	font-weight: 400;
}

.elementor-318 .elementor-element.elementor-element-934a1d5>.elementor-widget-container {
	margin: 0px 0px 020px 0px;
}

.elementor-318 .elementor-element.elementor-element-038f097 {
	color: #FFFFFF;
	font-family: "conforta", Sans-serif;
	font-size: 22px;
	font-weight: 400;
}

.elementor-318 .elementor-element.elementor-element-038f097>.elementor-widget-container {
	padding: 20px 20px 20px 20px;
	background-color: #1e6afe;
	border-radius: 20px 20px 20px 20px;
}

.elementor-bc-flex-widget .elementor-318 .elementor-element.elementor-element-a34f946.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-318 .elementor-element.elementor-element-a34f946.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-318 .elementor-element.elementor-element-fd96980>.elementor-element-populated {
	padding: 0px 0px 0px 0px;
}

.elementor-318 .elementor-element.elementor-element-6ad2679c>.elementor-container {
	max-width: 1224px;
}

.elementor-318 .elementor-element.elementor-element-6ad2679c {
	padding: 140px 100px 140px 100px;
}

.elementor-318 .elementor-element.elementor-element-304247c2>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
	margin-bottom: 0px;
}

.elementor-318 .elementor-element.elementor-element-304247c2>.elementor-element-populated {
	padding: 0px 0px 0px 0px;
}

.elementor-318 .elementor-element.elementor-element-24521b99 .fn__maintitle {
	color: #fff;
	font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.elementor-318 .elementor-element.elementor-element-24521b99>.elementor-widget-container {
	margin: 0px 0px 80px 0px;
}

.elementor-318 .elementor-element.elementor-element-e329f0a:not(.elementor-motion-effects-element-type-background),
.elementor-318 .elementor-element.elementor-element-e329f0a>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #1e6afe;
}

.elementor-318 .elementor-element.elementor-element-e329f0a,
.elementor-318 .elementor-element.elementor-element-e329f0a>.elementor-background-overlay {
	border-radius: 20px 20px 20px 20px;
}

.elementor-318 .elementor-element.elementor-element-e329f0a {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin-top: 25px;
	margin-bottom: 25px;
	padding: 25px 0px 25px 0px;
}

.elementor-318 .elementor-element.elementor-element-e329f0a>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-318 .elementor-element.elementor-element-566ad26.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-318 .elementor-element.elementor-element-566ad26.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-318 .elementor-element.elementor-element-566ad26>.elementor-element-populated {
	padding: 30px 30px 30px 30px;
}

.elementor-318 .elementor-element.elementor-element-cfecaf5 .elementor-heading-title {
	color: #FFFFFF;
	font-family: "evermore", Sans-serif;
	font-size: 24px;
	font-weight: 600;
}

.elementor-318 .elementor-element.elementor-element-4bd0f6f {
	color: #FFFFFF;
	font-family: "conforta", Sans-serif;
	font-size: 19px;
	font-weight: 400;
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.elementor-318 .elementor-element.elementor-element-db4e863:not(.elementor-motion-effects-element-type-background),
.elementor-318 .elementor-element.elementor-element-db4e863>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #1e6afe;
}

.elementor-318 .elementor-element.elementor-element-db4e863,
.elementor-318 .elementor-element.elementor-element-db4e863>.elementor-background-overlay {
	border-radius: 20px 20px 20px 20px;
}

.elementor-318 .elementor-element.elementor-element-db4e863 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin-top: 25px;
	margin-bottom: 25px;
	padding: 25px 0px 25px 0px;
}

.elementor-318 .elementor-element.elementor-element-db4e863>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-318 .elementor-element.elementor-element-4552aec.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-318 .elementor-element.elementor-element-4552aec.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-318 .elementor-element.elementor-element-4552aec>.elementor-element-populated {
	padding: 30px 30px 30px 30px;
}

.elementor-318 .elementor-element.elementor-element-7a16bd5 .elementor-heading-title {
	color: #FFFFFF;
	font-family: "evermore", Sans-serif;
	font-size: 24px;
	font-weight: 600;
}

.elementor-318 .elementor-element.elementor-element-2302676 {
	color: #FFFFFF;
	font-family: "conforta", Sans-serif;
	font-size: 19px;
	font-weight: 400;
}

.elementor-318 .elementor-element.elementor-element-e372a3d:not(.elementor-motion-effects-element-type-background),
.elementor-318 .elementor-element.elementor-element-e372a3d>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #1e6afe;
}

.elementor-318 .elementor-element.elementor-element-e372a3d,
.elementor-318 .elementor-element.elementor-element-e372a3d>.elementor-background-overlay {
	border-radius: 20px 20px 20px 20px;
}

.elementor-318 .elementor-element.elementor-element-e372a3d {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin-top: 25px;
	margin-bottom: 25px;
	padding: 25px 0px 25px 0px;
}

.elementor-318 .elementor-element.elementor-element-e372a3d>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-318 .elementor-element.elementor-element-ff1808a>.elementor-element-populated {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-318 .elementor-element.elementor-element-ff1808a>.elementor-element-populated>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-318 .elementor-element.elementor-element-4028ceb.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-318 .elementor-element.elementor-element-4028ceb.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-318 .elementor-element.elementor-element-4028ceb>.elementor-element-populated {
	padding: 30px 30px 30px 30px;
}

.elementor-318 .elementor-element.elementor-element-36aa473 .elementor-heading-title {
	color: #FFFFFF;
	font-family: "evermore", Sans-serif;
	font-size: 24px;
	font-weight: 600;
}

.elementor-318 .elementor-element.elementor-element-faba554 {
	color: #FFFFFF;
	font-family: "conforta", Sans-serif;
	font-size: 19px;
	font-weight: 400;
}

.elementor-318 .elementor-element.elementor-element-7efaee7:not(.elementor-motion-effects-element-type-background),
.elementor-318 .elementor-element.elementor-element-7efaee7>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #1e6afe;
}

.elementor-318 .elementor-element.elementor-element-7efaee7,
.elementor-318 .elementor-element.elementor-element-7efaee7>.elementor-background-overlay {
	border-radius: 20px 20px 20px 20px;
}

.elementor-318 .elementor-element.elementor-element-7efaee7 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin-top: 25px;
	margin-bottom: 25px;
	padding: 25px 0px 25px 0px;
}

.elementor-318 .elementor-element.elementor-element-7efaee7>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-318 .elementor-element.elementor-element-de45d39.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-318 .elementor-element.elementor-element-de45d39.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-318 .elementor-element.elementor-element-de45d39>.elementor-element-populated {
	padding: 30px 30px 30px 30px;
}

.elementor-318 .elementor-element.elementor-element-2130167 .elementor-heading-title {
	color: #FFFFFF;
	font-family: "evermore", Sans-serif;
	font-size: 24px;
	font-weight: 600;
}

.elementor-318 .elementor-element.elementor-element-350d840 {
	color: #FFFFFF;
	font-family: "conforta", Sans-serif;
	font-size: 19px;
	font-weight: 400;
}

.elementor-318 .elementor-element.elementor-element-fb30a4b .elementor-button {
	background-color: #1644d7;
}

.elementor-318 .elementor-element.elementor-element-fb30a4b>.elementor-widget-container {
	margin: 30px 0px 0px 0px;
}

.elementor-318 .elementor-element.elementor-element-54d61899>.elementor-element-populated {
	padding: 0px 0px 0px 0px;
}

.elementor-318 .elementor-element.elementor-element-325770a0>.elementor-container {
	max-width: 1361px;
}

.elementor-318 .elementor-element.elementor-element-325770a0 {
	padding: 134px 100px 120px 100px;
}

.elementor-318 .elementor-element.elementor-element-2a4bba46>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
	margin-bottom: 0px;
}

.elementor-318 .elementor-element.elementor-element-2f7fad84 .fn__maintitle {
	color: #fff;
	font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-lilita {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.elementor-318 .elementor-element.elementor-element-2f7fad84>.elementor-widget-container {
	margin: 0px 0px 80px 0px;
}

.elementor-318 .elementor-element.elementor-element-7e47119>.elementor-container {
	max-width: 500px;
}

.elementor-318 .elementor-element.elementor-element-7e47119 {
	margin-top: 0px;
	margin-bottom: 80px;
}

.elementor-318 .elementor-element.elementor-element-1d0f908:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-318 .elementor-element.elementor-element-1d0f908>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #1e6afe;
}

.elementor-318 .elementor-element.elementor-element-1d0f908>.elementor-element-populated,
.elementor-318 .elementor-element.elementor-element-1d0f908>.elementor-element-populated>.elementor-background-overlay,
.elementor-318 .elementor-element.elementor-element-1d0f908>.elementor-background-slideshow {
	border-radius: 20px 20px 20px 20px;
}

.elementor-318 .elementor-element.elementor-element-1d0f908>.elementor-element-populated {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin: 0px 20px 0px 20px;
	--e-column-margin-right: 20px;
	--e-column-margin-left: 20px;
	padding: 50px 50px 50px 50px;
}

.elementor-318 .elementor-element.elementor-element-1d0f908>.elementor-element-populated>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-318 .elementor-element.elementor-element-0d648a3 {
	text-align: center;
}

.elementor-318 .elementor-element.elementor-element-0d648a3 .elementor-heading-title {
	color: #FFFFFF;
	font-family: "evermore", Sans-serif;
	font-weight: 600;
}

.elementor-318 .elementor-element.elementor-element-c6bca5a {
	text-align: center;
	color: #FFFFFF;
	font-family: "conforta", Sans-serif;
	font-weight: 400;
}

.elementor-318 .elementor-element.elementor-element-3e0363d {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-318 .elementor-element.elementor-element-3e0363d>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-318 .elementor-element.elementor-element-2298056:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-318 .elementor-element.elementor-element-2298056>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #1e6afe;
}

.elementor-318 .elementor-element.elementor-element-2298056>.elementor-element-populated,
.elementor-318 .elementor-element.elementor-element-2298056>.elementor-element-populated>.elementor-background-overlay,
.elementor-318 .elementor-element.elementor-element-2298056>.elementor-background-slideshow {
	border-radius: 20px 20px 20px 20px;
}

.elementor-318 .elementor-element.elementor-element-2298056>.elementor-element-populated {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin: 0px 20px 0px 20px;
	--e-column-margin-right: 20px;
	--e-column-margin-left: 20px;
	padding: 50px 50px 50px 50px;
}

.elementor-318 .elementor-element.elementor-element-2298056>.elementor-element-populated>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-318 .elementor-element.elementor-element-555a73f {
	text-align: center;
}

.elementor-318 .elementor-element.elementor-element-555a73f .elementor-heading-title {
	color: #FFFFFF;
	font-family: "evermore", Sans-serif;
	font-weight: 600;
}

.elementor-318 .elementor-element.elementor-element-6e62427 {
	text-align: left;
	color: #FFFFFF;
	font-family: "conforta", Sans-serif;
	font-weight: 400;
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.elementor-318 .elementor-element.elementor-element-938fb6e:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-318 .elementor-element.elementor-element-938fb6e>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #1e6afe;
}

.elementor-318 .elementor-element.elementor-element-938fb6e>.elementor-element-populated,
.elementor-318 .elementor-element.elementor-element-938fb6e>.elementor-element-populated>.elementor-background-overlay,
.elementor-318 .elementor-element.elementor-element-938fb6e>.elementor-background-slideshow {
	border-radius: 20px 20px 20px 20px;
}

.elementor-318 .elementor-element.elementor-element-938fb6e>.elementor-element-populated {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin: 0px 20px 0px 20px;
	--e-column-margin-right: 20px;
	--e-column-margin-left: 20px;
	padding: 50px 50px 50px 50px;
}

.elementor-318 .elementor-element.elementor-element-938fb6e>.elementor-element-populated>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-318 .elementor-element.elementor-element-7be27cd {
	text-align: center;
}

.elementor-318 .elementor-element.elementor-element-7be27cd .elementor-heading-title {
	color: #FFFFFF;
	font-family: "evermore", Sans-serif;
	font-weight: 600;
}

.elementor-318 .elementor-element.elementor-element-e0e1329 {
	text-align: left;
	color: #FFFFFF;
	font-family: "conforta", Sans-serif;
	font-weight: 400;
}

.elementor-318 .elementor-element.elementor-element-0325a3c:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-318 .elementor-element.elementor-element-0325a3c>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #1e6afe;
}

.elementor-318 .elementor-element.elementor-element-0325a3c>.elementor-element-populated,
.elementor-318 .elementor-element.elementor-element-0325a3c>.elementor-element-populated>.elementor-background-overlay,
.elementor-318 .elementor-element.elementor-element-0325a3c>.elementor-background-slideshow {
	border-radius: 20px 20px 20px 20px;
}

.elementor-318 .elementor-element.elementor-element-0325a3c>.elementor-element-populated {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin: 0px 20px 0px 20px;
	--e-column-margin-right: 20px;
	--e-column-margin-left: 20px;
	padding: 50px 50px 50px 50px;
}

.elementor-318 .elementor-element.elementor-element-0325a3c>.elementor-element-populated>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-318 .elementor-element.elementor-element-c480c7a {
	text-align: center;
}

.elementor-318 .elementor-element.elementor-element-c480c7a .elementor-heading-title {
	color: #FFFFFF;
	font-family: "evermore", Sans-serif;
	font-weight: 600;
}

.elementor-318 .elementor-element.elementor-element-114f5dd {
	text-align: left;
	color: #FFFFFF;
	font-family: "conforta", Sans-serif;
	font-weight: 400;
}

.elementor-318 .elementor-element.elementor-element-5ae724f4>.elementor-element-populated {
	padding: 0px 0px 0px 0px;
}

.elementor-318 .elementor-element.elementor-element-187f55f7>.elementor-container {
	max-width: 1800px;
}

.elementor-318 .elementor-element.elementor-element-187f55f7 {
	padding: 134px 100px 130px 100px;
}

.elementor-318 .elementor-element.elementor-element-6419c820>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
	margin-bottom: 0px;
}

.elementor-318 .elementor-element.elementor-element-39d1b6a0 .fn__maintitle {
	color: #fff;
	font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.elementor-318 .elementor-element.elementor-element-39d1b6a0>.elementor-widget-container {
	margin: 0px 0px 140px 0px;
}

.elementor-318 .elementor-element.elementor-element-4ba81a04 .fn_cs_gallery_collage ul li .item {
	border-radius: 0px;
	overflow: hidden;
}

.elementor-318 .elementor-element.elementor-element-4ba81a04 .fn_cs_gallery_collage_a .item {
	border-radius: 0px;
	overflow: hidden;
}

.elementor-318 .elementor-element.elementor-element-4ba81a04 .fn_cs_gallery_collage_pro ul li .item {
	border-radius: 0px;
	overflow: hidden;
}

.elementor-318 .elementor-element.elementor-element-4ba81a04 .justified-gallery>a {
	border-radius: 0px;
}

.elementor-318 .elementor-element.elementor-element-4ba81a04 .fn_cs_gallery_masonry ul li .item {
	border-radius: 0px;
}

.elementor-318 .elementor-element.elementor-element-4ba81a04 .fn_cs_gallery_slider .item {
	border-radius: 0px;
}

.elementor-318 .elementor-element.elementor-element-4ba81a04 .fn_cs_gallery_grid ul li .item_in {
	border-radius: 0px;
}

.elementor-318 .elementor-element.elementor-element-4ba81a04 .fn_cs_gallery_mosaic_four .item_in {
	border-radius: 0px;
}

.elementor-318 .elementor-element.elementor-element-4ba81a04 .fn_cs_gallery_mosaic .item {
	border-radius: 0px;
}

.elementor-318 .elementor-element.elementor-element-4ba81a04 .fn_cs_gallery_grid ul li .item:after {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.elementor-318 .elementor-element.elementor-element-4ba81a04>.elementor-widget-container {
	margin: 0px 0px 92px 0px;
}

.elementor-318 .elementor-element.elementor-element-1815203 .fn__maintitle {
	color: #fff;
	font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.elementor-318 .elementor-element.elementor-element-1815203>.elementor-widget-container {
	margin: 0px 0px 50px 0px;
}

.elementor-318 .elementor-element.elementor-element-e2329b3 .elementor-icon-wrapper {
	text-align: center;
}

.elementor-318 .elementor-element.elementor-element-e2329b3.elementor-view-stacked .elementor-icon {
	background-color: #FFFFFF;
	color: #1745d8;
}

.elementor-318 .elementor-element.elementor-element-e2329b3.elementor-view-framed .elementor-icon,
.elementor-318 .elementor-element.elementor-element-e2329b3.elementor-view-default .elementor-icon {
	color: #FFFFFF;
	border-color: #FFFFFF;
}

.elementor-318 .elementor-element.elementor-element-e2329b3.elementor-view-framed .elementor-icon,
.elementor-318 .elementor-element.elementor-element-e2329b3.elementor-view-default .elementor-icon svg {
	fill: #FFFFFF;
}

.elementor-318 .elementor-element.elementor-element-e2329b3.elementor-view-framed .elementor-icon {
	background-color: #1745d8;
}

.elementor-318 .elementor-element.elementor-element-e2329b3.elementor-view-stacked .elementor-icon svg {
	fill: #1745d8;
}

.elementor-318 .elementor-element.elementor-element-1bf7fc99>.elementor-element-populated {
	padding: 0px 0px 0px 0px;
}

.elementor-318 .elementor-element.elementor-element-60a45e4b>.elementor-container {
	max-width: 1800px;
}

.elementor-318 .elementor-element.elementor-element-60a45e4b {
	padding: 134px 100px 100px 100px;
}

.elementor-318 .elementor-element.elementor-element-210cee4>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
	margin-bottom: 0px;
}

.elementor-318 .elementor-element.elementor-element-1f3d623a .fn__maintitle {
	color: #fff;
	font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.elementor-318 .elementor-element.elementor-element-1f3d623a>.elementor-widget-container {
	margin: 0px 0px 80px 0px;
}

.elementor-318 .elementor-element.elementor-element-bea74a1>.elementor-container {
	max-width: 764px;
}

.elementor-318 .elementor-element.elementor-element-908a987 .elementor-icon-wrapper {
	text-align: center;
}

.elementor-318 .elementor-element.elementor-element-908a987.elementor-view-stacked .elementor-icon {
	background-color: #FFFFFF;
	color: #1745d8;
}

.elementor-318 .elementor-element.elementor-element-908a987.elementor-view-framed .elementor-icon,
.elementor-318 .elementor-element.elementor-element-908a987.elementor-view-default .elementor-icon {
	color: #FFFFFF;
	border-color: #FFFFFF;
}

.elementor-318 .elementor-element.elementor-element-908a987.elementor-view-framed .elementor-icon,
.elementor-318 .elementor-element.elementor-element-908a987.elementor-view-default .elementor-icon svg {
	fill: #FFFFFF;
}

.elementor-318 .elementor-element.elementor-element-908a987.elementor-view-framed .elementor-icon {
	background-color: #1745d8;
}

.elementor-318 .elementor-element.elementor-element-908a987.elementor-view-stacked .elementor-icon svg {
	fill: #1745d8;
}

.elementor-318 .elementor-element.elementor-element-2ef1c3f .elementor-icon-wrapper {
	text-align: center;
}

.elementor-318 .elementor-element.elementor-element-2ef1c3f.elementor-view-stacked .elementor-icon {
	background-color: #FFFFFF;
	color: #1745d8;
}

.elementor-318 .elementor-element.elementor-element-2ef1c3f.elementor-view-framed .elementor-icon,
.elementor-318 .elementor-element.elementor-element-2ef1c3f.elementor-view-default .elementor-icon {
	color: #FFFFFF;
	border-color: #FFFFFF;
}

.elementor-318 .elementor-element.elementor-element-2ef1c3f.elementor-view-framed .elementor-icon,
.elementor-318 .elementor-element.elementor-element-2ef1c3f.elementor-view-default .elementor-icon svg {
	fill: #FFFFFF;
}

.elementor-318 .elementor-element.elementor-element-2ef1c3f.elementor-view-framed .elementor-icon {
	background-color: #1745d8;
}

.elementor-318 .elementor-element.elementor-element-2ef1c3f.elementor-view-stacked .elementor-icon svg {
	fill: #1745d8;
}

.elementor-318 .elementor-element.elementor-element-8238fbb .elementor-icon-wrapper {
	text-align: center;
}

.elementor-318 .elementor-element.elementor-element-8238fbb.elementor-view-stacked .elementor-icon {
	background-color: #FFFFFF;
	color: #1745d8;
}

.elementor-318 .elementor-element.elementor-element-8238fbb.elementor-view-framed .elementor-icon,
.elementor-318 .elementor-element.elementor-element-8238fbb.elementor-view-default .elementor-icon {
	color: #FFFFFF;
	border-color: #FFFFFF;
}

.elementor-318 .elementor-element.elementor-element-8238fbb.elementor-view-framed .elementor-icon,
.elementor-318 .elementor-element.elementor-element-8238fbb.elementor-view-default .elementor-icon svg {
	fill: #FFFFFF;
}

.elementor-318 .elementor-element.elementor-element-8238fbb.elementor-view-framed .elementor-icon {
	background-color: #1745d8;
}

.elementor-318 .elementor-element.elementor-element-8238fbb.elementor-view-stacked .elementor-icon svg {
	fill: #1745d8;
}

.elementor-318 .elementor-element.elementor-element-27f356d .elementor-icon-wrapper {
	text-align: center;
}

.elementor-318 .elementor-element.elementor-element-27f356d.elementor-view-stacked .elementor-icon {
	background-color: #FFFFFF;
	color: #1745d8;
}

.elementor-318 .elementor-element.elementor-element-27f356d.elementor-view-framed .elementor-icon,
.elementor-318 .elementor-element.elementor-element-27f356d.elementor-view-default .elementor-icon {
	color: #FFFFFF;
	border-color: #FFFFFF;
}

.elementor-318 .elementor-element.elementor-element-27f356d.elementor-view-framed .elementor-icon,
.elementor-318 .elementor-element.elementor-element-27f356d.elementor-view-default .elementor-icon svg {
	fill: #FFFFFF;
}

.elementor-318 .elementor-element.elementor-element-27f356d.elementor-view-framed .elementor-icon {
	background-color: #1745d8;
}

.elementor-318 .elementor-element.elementor-element-27f356d.elementor-view-stacked .elementor-icon svg {
	fill: #1745d8;
}

.elementor-318 .elementor-element.elementor-element-e0cd316 .elementor-icon-wrapper {
	text-align: center;
}

.elementor-318 .elementor-element.elementor-element-e0cd316.elementor-view-stacked .elementor-icon {
	background-color: #FFFFFF;
	color: #1745d8;
}

.elementor-318 .elementor-element.elementor-element-e0cd316.elementor-view-framed .elementor-icon,
.elementor-318 .elementor-element.elementor-element-e0cd316.elementor-view-default .elementor-icon {
	color: #FFFFFF;
	border-color: #FFFFFF;
}

.elementor-318 .elementor-element.elementor-element-e0cd316.elementor-view-framed .elementor-icon,
.elementor-318 .elementor-element.elementor-element-e0cd316.elementor-view-default .elementor-icon svg {
	fill: #FFFFFF;
}

.elementor-318 .elementor-element.elementor-element-e0cd316.elementor-view-framed .elementor-icon {
	background-color: #1745d8;
}

.elementor-318 .elementor-element.elementor-element-e0cd316.elementor-view-stacked .elementor-icon svg {
	fill: #1745d8;
}

.elementor-318 .elementor-element.elementor-element-e0cd316 {
	width: var(--container-widget-width, 100%);
	max-width: 100%;
	--container-widget-width: 100%;
	--container-widget-flex-grow: 0;
}

.elementor-318 .elementor-element.elementor-element-1c0d5b9 .elementor-icon-wrapper {
	text-align: center;
}

.elementor-318 .elementor-element.elementor-element-1c0d5b9.elementor-view-stacked .elementor-icon {
	background-color: #FFFFFF;
	color: #1745d8;
}

.elementor-318 .elementor-element.elementor-element-1c0d5b9.elementor-view-framed .elementor-icon,
.elementor-318 .elementor-element.elementor-element-1c0d5b9.elementor-view-default .elementor-icon {
	color: #FFFFFF;
	border-color: #FFFFFF;
}

.elementor-318 .elementor-element.elementor-element-1c0d5b9.elementor-view-framed .elementor-icon,
.elementor-318 .elementor-element.elementor-element-1c0d5b9.elementor-view-default .elementor-icon svg {
	fill: #FFFFFF;
}

.elementor-318 .elementor-element.elementor-element-1c0d5b9.elementor-view-framed .elementor-icon {
	background-color: #1745d8;
}

.elementor-318 .elementor-element.elementor-element-1c0d5b9.elementor-view-stacked .elementor-icon svg {
	fill: #1745d8;
}

.elementor-318 .elementor-element.elementor-element-1c0d5b9 {
	width: var(--container-widget-width, 100%);
	max-width: 100%;
	--container-widget-width: 100%;
	--container-widget-flex-grow: 0;
}

@media(max-width:1024px) {
	.elementor-318 .elementor-element.elementor-element-7d5d4378 {
		padding: 150px 0px 0px 0px;
	}

	.elementor-318 .elementor-element.elementor-element-20b5f013 {
		padding: 0px 0px 100px 0px;
	}

	.elementor-318 .elementor-element.elementor-element-4f19947d.elementor-column>.elementor-widget-wrap {
		justify-content: center;
	}

	.elementor-318 .elementor-element.elementor-element-4f19947d>.elementor-element-populated {
		padding: 40px 40px 40px 40px;
	}

	.elementor-318 .elementor-element.elementor-element-528d6b32>.elementor-element-populated {
		padding: 70px 40px 0px 40px;
	}

	.elementor-318 .elementor-element.elementor-element-3000695b {
		padding: 132px 40px 87px 40px;
	}

	.elementor-318 .elementor-element.elementor-element-1e76296 {
		padding: 132px 40px 87px 40px;
	}

	.elementor-318 .elementor-element.elementor-element-fdc9cb4 {
		padding: 132px 40px 87px 40px;
	}

	.elementor-318 .elementor-element.elementor-element-6ad2679c {
		padding: 132px 40px 140px 40px;
	}

	.elementor-318 .elementor-element.elementor-element-304247c2>.elementor-element-populated {
		padding: 0px 0px 70px 0px;
	}

	.elementor-318 .elementor-element.elementor-element-24521b99>.elementor-widget-container {
		margin: 0px 0px 80px 0px;
	}

	.elementor-318 .elementor-element.elementor-element-325770a0 {
		padding: 134px 40px 120px 40px;
	}

	.elementor-318 .elementor-element.elementor-element-2f7fad84>.elementor-widget-container {
		margin: 0px 0px 80px 0px;
	}

	.elementor-318 .elementor-element.elementor-element-1d0f908>.elementor-element-populated {
		margin: 20px 20px 20px 20px;
		--e-column-margin-right: 20px;
		--e-column-margin-left: 20px;
	}

	.elementor-318 .elementor-element.elementor-element-2298056>.elementor-element-populated {
		margin: 20px 20px 20px 20px;
		--e-column-margin-right: 20px;
		--e-column-margin-left: 20px;
	}

	.elementor-318 .elementor-element.elementor-element-938fb6e>.elementor-element-populated {
		margin: 20px 20px 20px 20px;
		--e-column-margin-right: 20px;
		--e-column-margin-left: 20px;
	}

	.elementor-318 .elementor-element.elementor-element-0325a3c>.elementor-element-populated {
		margin: 20px 20px 20px 20px;
		--e-column-margin-right: 20px;
		--e-column-margin-left: 20px;
	}

	.elementor-318 .elementor-element.elementor-element-187f55f7 {
		padding: 134px 40px 130px 40px;
	}

	.elementor-318 .elementor-element.elementor-element-39d1b6a0>.elementor-widget-container {
		margin: 0px 0px 80px 0px;
	}

	.elementor-318 .elementor-element.elementor-element-60a45e4b {
		padding: 134px 40px 100px 40px;
	}
}

@media(max-width:767px) {
	.elementor-318 .elementor-element.elementor-element-7d5d4378 {
		padding: 90px 0px 0px 0px;
	}

	.elementor-318 .elementor-element.elementor-element-1e19315f {
		font-size: 19px;
	}

	.elementor-318 .elementor-element.elementor-element-20b5f013 {
		padding: 0px 0px 70px 0px;
	}

	.elementor-318 .elementor-element.elementor-element-4f19947d>.elementor-element-populated {
		padding: 20px 20px 20px 20px;
	}

	.elementor-318 .elementor-element.elementor-element-528d6b32>.elementor-element-populated {
		padding: 70px 20px 0px 20px;
	}

	.elementor-318 .elementor-element.elementor-element-5a61c16a {
		font-size: 16px;
	}

	.elementor-318 .elementor-element.elementor-element-556d2c98 {
		font-size: 16px;
	}

	.elementor-318 .elementor-element.elementor-element-3000695b {
		padding: 082px 0px 37px 0px;
	}

	.elementor-318 .elementor-element.elementor-element-f66b564>.elementor-widget-container {
		margin: 0px 0px 60px 0px;
	}

	.elementor-318 .elementor-element.elementor-element-1e76296 {
		padding: 082px 0px 37px 0px;
	}

	.elementor-318 .elementor-element.elementor-element-3d509a3>.elementor-widget-container {
		margin: 0px 0px 60px 0px;
	}

	.elementor-318 .elementor-element.elementor-element-fdc9cb4 {
		padding: 082px 0px 37px 0px;
	}

	.elementor-318 .elementor-element.elementor-element-908ae97>.elementor-widget-container {
		margin: 0px 0px 60px 0px;
	}

	.elementor-318 .elementor-element.elementor-element-934a1d5 .elementor-heading-title {
		font-size: 32px;
	}

	.elementor-318 .elementor-element.elementor-element-038f097 {
		font-size: 16px;
	}

	.elementor-318 .elementor-element.elementor-element-6ad2679c {
		padding: 82px 20px 40px 20px;
	}

	.elementor-318 .elementor-element.elementor-element-24521b99>.elementor-widget-container {
		margin: 0px 0px 60px 0px;
	}

	.elementor-318 .elementor-element.elementor-element-cfecaf5 .elementor-heading-title {
		font-size: 18px;
	}

	.elementor-318 .elementor-element.elementor-element-4bd0f6f {
		font-size: 16px;
	}

	.elementor-318 .elementor-element.elementor-element-7a16bd5 .elementor-heading-title {
		font-size: 18px;
	}

	.elementor-318 .elementor-element.elementor-element-2302676 {
		font-size: 16px;
	}

	.elementor-318 .elementor-element.elementor-element-36aa473 .elementor-heading-title {
		font-size: 18px;
	}

	.elementor-318 .elementor-element.elementor-element-faba554 {
		font-size: 16px;
	}

	.elementor-318 .elementor-element.elementor-element-2130167 .elementor-heading-title {
		font-size: 18px;
	}

	.elementor-318 .elementor-element.elementor-element-350d840 {
		font-size: 16px;
	}

	.elementor-318 .elementor-element.elementor-element-325770a0 {
		padding: 84px 10px 70px 10px;
	}

	.elementor-318 .elementor-element.elementor-element-2f7fad84>.elementor-widget-container {
		margin: 0px 0px 60px 0px;
	}

	.elementor-318 .elementor-element.elementor-element-1d0f908>.elementor-element-populated {
		padding: 20px 20px 20px 20px;
	}

	.elementor-318 .elementor-element.elementor-element-0d648a3 .elementor-heading-title {
		font-size: 18px;
	}

	.elementor-318 .elementor-element.elementor-element-c6bca5a {
		font-size: 14px;
	}

	.elementor-318 .elementor-element.elementor-element-2298056>.elementor-element-populated {
		padding: 20px 20px 20px 20px;
	}

	.elementor-318 .elementor-element.elementor-element-555a73f .elementor-heading-title {
		font-size: 18px;
	}

	.elementor-318 .elementor-element.elementor-element-6e62427 {
		font-size: 14px;
	}

	.elementor-318 .elementor-element.elementor-element-938fb6e>.elementor-element-populated {
		padding: 20px 20px 20px 20px;
	}

	.elementor-318 .elementor-element.elementor-element-7be27cd .elementor-heading-title {
		font-size: 18px;
	}

	.elementor-318 .elementor-element.elementor-element-e0e1329 {
		font-size: 14px;
	}

	.elementor-318 .elementor-element.elementor-element-0325a3c>.elementor-element-populated {
		padding: 20px 20px 20px 20px;
	}

	.elementor-318 .elementor-element.elementor-element-c480c7a .elementor-heading-title {
		font-size: 18px;
	}

	.elementor-318 .elementor-element.elementor-element-114f5dd {
		font-size: 14px;
	}

	.elementor-318 .elementor-element.elementor-element-187f55f7 {
		padding: 84px 10px 80px 10px;
	}

	.elementor-318 .elementor-element.elementor-element-39d1b6a0>.elementor-widget-container {
		margin: 0px 0px 60px 0px;
	}

	.elementor-318 .elementor-element.elementor-element-60a45e4b {
		padding: 84px 10px 50px 10px;
	}

	.elementor-318 .elementor-element.elementor-element-1f3d623a>.elementor-widget-container {
		margin: 0px 0px 60px 0px;
	}
}

@media(min-width:768px) {
	.elementor-318 .elementor-element.elementor-element-4f19947d {
		width: 50%;
	}

	.elementor-318 .elementor-element.elementor-element-528d6b32 {
		width: 50%;
	}

	.elementor-318 .elementor-element.elementor-element-304247c2 {
		width: 100%;
	}
}

@media(max-width:1024px) and (min-width:768px) {
	.elementor-318 .elementor-element.elementor-element-4f19947d {
		width: 100%;
	}

	.elementor-318 .elementor-element.elementor-element-528d6b32 {
		width: 100%;
	}

	.elementor-318 .elementor-element.elementor-element-2935655 {
		width: 100%;
	}

	.elementor-318 .elementor-element.elementor-element-304247c2 {
		width: 100%;
	}

	.elementor-318 .elementor-element.elementor-element-1d0f908 {
		width: 100%;
	}

	.elementor-318 .elementor-element.elementor-element-2298056 {
		width: 100%;
	}

	.elementor-318 .elementor-element.elementor-element-938fb6e {
		width: 100%;
	}

	.elementor-318 .elementor-element.elementor-element-0325a3c {
		width: 100%;
	}
}